# This is the port that swarm will attempt to connect to for each of the
# Docker hosts
docker_server_port: 2376

docker_bridge_ip: "192.168.5.1"

#This is the auth token for JupyterHub. You can create it with:
#     openssl rand -hex 16
# Note that this should never be stored in plaintext; you should probably
# override it in an encrypted vault file.
configproxy_auth_token: ""

# This is the cookie secret for JupyterHub. You can create it with:
#     openssl rand -hex 2048
# Note that this should never be stored in plaintext; you should probably
# override it in an encrypted vault file.
cookie_secret: ""

# This is the name of an admin user of the JupyterHub instance, necessary
# to get an API key from JupyterHub
jupyterhub_admin_user: ""

# Support email address for Shibboleth servies
support_contact: ""

# nbgrader
exchange_directory: ""
github_repo: ""
course_id: ""

# duplicity
backup_source_directory: ""
backup_target_ip: ""
backup_target_directory: ""
gpg_key: ""
gpg_pass: ""
