# https://github.com/jupyter/jupyterhub/issues/219
<VirtualHost *:80>
    ServerName {{ ansible_host }}
    Redirect permanent / https://{{ ansible_host }}/
</VirtualHost>

Listen 443
<VirtualHost *:443>
    ServerName {{ ansible_host }}
    SSLEngine On
    SSLCertificateFile {{ site_cert_path }}/ca.crt
    SSLCertificateKeyFile {{ site_key_path }}/ca.key

    ProxyRequests Off
    SSLProxyEngine On

    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>

    ProxyPreserveHost on
    ProxyPass / http://{{ jupyterhub_host }}:8000/
    ProxyPassReverse / http://{{ jupyterhub_host }}:8000/

    Header edit Referer https://{{ ansible_host }}:8888/hub/admin {{ ansible_host }}/hub
    RequestHeader edit Referer https://{{ ansible_host }}:8888/hub/admin {{ ansible_host }}/hub

    Header edit Referer https://{{ ansible_host }}:8888/hub/home {{ ansible_host }}/hub
    RequestHeader edit Referer https://{{ ansible_host }}:8888/hub/home {{ ansible_host }}/hub

    Header set Remote-User %{REMOTE_USER}s
    RequestHeader set Remote-User %{REMOTE_USER}s

    <Location ~ "/(user/[^/]*)/(api/kernels/[^/]+/channels|terminals/websocket)/?">
        ProxyPass ws://{{ jupyterhub_host }}:8000
        ProxyPassReverse ws://{{ jupyterhub_host }}:8000
    </Location>

</VirtualHost>
