# https://github.com/jupyter/jupyterhub/issues/219
ProxyPass / http://localhost:8000/
ProxyPassReverse / http://localhost:8000/

Header edit Origin "{{ external_address }}" localhost:8000
RequestHeader edit Origin "{{ external_address }}" localhost:8000

Header edit Referer "{{ external_address }}" localhost:8000
RequestHeader edit Referer "{{ external_address }}" localhost:8000
<Location ~ "/(user/[^/]*)/(api/kernels/[^/]+/channels|terminals/websocket)/?">
    ProxyPass ws://localhost:8000
    ProxyPassReverse ws://localhost:8000
</Location>
