TZ=America/Chicago
01 18 * * 1 root tar cvzf /export/assignments.$(date +\%Y\%m\%d\%H\%M\%S).tar.gz /export/exchange/*/{{course_id}}-assignments/inbound 2>&1 | ts "\%F \%T" >> /var/log/cron.log
01 18 * * 6 root tar cvzf /export/assignments.$(date +\%Y\%m\%d\%H\%M\%S).tar.gz /export/exchange/*/{{course_id}}-assignments/inbound 2>&1 | ts "\%F \%T" >> /var/log/cron.log
# An empty line is required at the end of this file for a valid cron file.

