{
	"data_dir": "/data",
	"ui_dir": "/ui",
	"client_addr": "0.0.0.0",
	"ports": {
		"dns": 53,
                "https": 8501
	},
	"recursor": "8.8.8.8",
	"disable_update_check": true,
        "ca_file": "/root/.docker/ca.pem",
        "cert_file": "/root/.docker/cert.pem",
        "key_file": "/root/.docker/key.pem",
        "verify_incoming": true,
        "verify_outgoing": true
}
